{{> header}}
{{> navbar}}
<div class="jumbotron">
    <h1 class="display-4">Datos de contacto</h1>
    <p class="lead">Desarrollador de software</p>
    <hr class="my-4">
    <strong>Nombre:</strong>
    <p>Victor daniel zabaleta castellar</p>
    <strong>Correo Electronico:</strong>
    <p>zabaletacastellar@gmail.com</p>
    <strong>Celular:</strong>
    <p>3059092662</p>
</div>
{{> footer}}